<form [formGroup]="loginForm" class="p-grid p-fluid">
  <div class="p-col-12 p-md-4">
    <div class="p-field">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input
          formControlName="username"
          type="text"
          pInputText
          required
          placeholder="Username"
        />
      </div>
    </div>
    <div class="p-field">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input
          formControlName="password"
          type="password"
          pInputText
          required
          placeholder="Password"
        />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <button
          type="button"
          pButton
          label="Sign Up"
          class="p-button-outlined"
        ></button>
      </div>
      <div class="p-field p-col">
        <button
          type="button"
          pButton
          label="Sign In"
          [disabled]="isFormInvalid"
          (click)="onLogin()"
        ></button>
      </div>
    </div>
  </div>
</form>
